header {
  background-color: #004aad;
  color: white;
  padding: 20px;
  padding-bottom: 0px;
  text-align: center;
  overflow: hidden;
}

#headerbar {
  height: 4%;
  width: 100%;
  display: inline;
  float: left;
}

img {
  height: 100%;
  width: 100%;
}

nav {
  background-color: #004aad;
  justify-content: space-around;
  padding: 0px;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 45px;
}

#search {
  float: right;
  display: inline;
  border: none;
  text-size: 45px;
  padding: 5px;
  margin-left: 40px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #030352;
}

p {
  font-size: 20px;
}

h1 {
  display: inline;
  padding: 10px;
  margin-top: 15px;
}

#foot {
  float: left;
}

li {
  list-style-type: disc;
  font-size: 20px;
}

nav table td {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 45px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navlinks:hover {
    background-color: #004aad;
    color: blue;
    transition: 0.3s;
}
  
main {
  padding: 20px;
}

section {
  background-color:#004aad; 
  padding: 15px;
  color: white;
  margin-bottom: 20px;
}

main img {
  margin: 0px;
  padding: 0px;
}

footer {
  background-color: #1560BD;
  color: white;
  padding: 20px;
  text-align: center;
  height: 500px;
  bottom: 0;
}

footer a {
  float: left;
  color: grey;
  padding: 10px;
}

footer ul {
list-style-type: none;
}

footer li {
list-style-type: none;
}

/* Style all social icons */
.fa {
  padding: 20px;
  font-size: 100px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  margin: 2px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  margin: 2px;
}

/*Instagram*/
.fa-instagram {
  background: #FA28D7;
  color: white;
  margin: 2px;
}
